.button {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  /*opacity: 1;*/
  transition: 0.3s;
  /*display: inline-block;*/
  text-decoration: none;
  cursor: pointer;
  border: 2px solid darkred;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: darkred; 
  color: white;
}
/*button2 start*/
.button1 {
  background-color: Black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  /*opacity: 1;*/
  transition: 0.3s;
  /*display: inline-block;*/
  text-decoration: none;
  cursor: pointer;
  border: 2px solid darkblue;
}

.button1 {
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: darkblue; /* Green */
  color: white;
}
